body {
  color: white;
  font-size: 10px;
  background-color: #222;
}

p {
  font-size: 1.6rem;
}

.error-page p{
  display: inline-block;
  border: 3px solid black;
  border-radius: 7%;
  background-color: black;
  margin-top: 1em;
  font-size: 1.2em;
}

.photo-container ul {
  margin-top: 1em;
  padding: 0 1em;
}

.photo-container ul li {
  border-radius: 2%;
}


.back-button button {
  font-size: 15px;
  font-weight: 500;
  margin-top: 3em;
  margin-bottom: .5em;
  padding: 5px 5px;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 15%;
  text-shadow: 1px 1px 2px rgb(80, 70, 70);
  box-shadow: .5px .5px 3px rgb(53, 53, 53);
  cursor: pointer;
}

.back-button button:hover {
  color: rgb(226, 226, 226);
}

.not-found {
  background-color: rgb(68, 67, 67);
  color: whitesmoke;
}

#info {
  text-align: left;
  padding-left: 5px;
  width: 50%;
  text-shadow: .2px .2px 2px rgb(65, 64, 64);
}

#search #back-home-button {
  color: white;
  font-size: 1.2em;
  border: 1px solid whitesmoke;
  border-radius: 3%;
  background-color: transparent;
  padding: 5px;
  text-shadow: 1px 1px 1px rgb(107, 106, 106);
}

