* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: transparent;
  border: 1px solid white;
  border-left: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1.3em;
  font-weight: 400;
  width: 100%;
  background-color: transparent;
  padding: 10px 15px;
  border: 1px solid white;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
  color: white;
}

.main-nav li, #nav-p {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a, #nav-p {
  display: block;
  background: transparent;
  border-radius: 3px;
  padding: 2px;
  color: #fff;
  text-shadow: 1.5px 1.5px 1px rgb(26, 25, 25);
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  color: rgb(216, 216, 219);
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

@media only screen and (max-width: 767px)  {
  body {
    padding-bottom: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}
.header {
  padding-bottom: 9em;
  color: white;
  text-shadow: 1.2px 1.2px 3px rgb(68, 26, 26);
}

@media only screen and (min-width: 768px)  {
  body {
    padding-bottom: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }

  
  .main-nav li {
    padding-top: -3em;
    margin: 10px;
    width: 100px;
  }

  .background {
    padding-bottom: 6em;
  }

  #search {
    padding-bottom: 15em;
  }

}


